# Environment
ENVIRONMENT=staging or developement or demo or UAT or Production or QA

# Base URL
BASE_URL= https://gtrixdev.serversync.work

# Test Credentials
TEST_USERNAME=username
TEST_PASSWORD=password

# Browser Settings
BROWSER=chromium
HEADLESS=true
SLOW_MO=0

# Timeouts
DEFAULT_TIMEOUT=30000